@font-face {
    font-family: "LoveFrom, Serif L 400";
    src: url("media/Web Fonts/c3ddb99244adbafbc39209439dad58c8.eot");
    src: url("media/Web Fonts/c3ddb99244adbafbc39209439dad58c8.eot?#iefix") format("embedded-opentype"),
         url("media/Web Fonts/c3ddb99244adbafbc39209439dad58c8.woff") format("woff"),
         url("media/Web Fonts/c3ddb99244adbafbc39209439dad58c8.woff2") format("woff2"),
         url("media/Web Fonts/c3ddb99244adbafbc39209439dad58c8.ttf") format("truetype"),
         url("media/Web Fonts/c3ddb99244adbafbc39209439dad58c8.svg#LoveFrom, Serif L 400") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: purple;
  text-align: center;
  padding-top: 150px;
  font-family: "LoveFrom, Serif L 400", Arial, sans-serif;
}

.flip-card {
  perspective: 1000px;
  width: 200px;
  height: 300px;
  margin: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.flip-card-inner.is-flipped {
  transform: rotateY(180deg);
}

.flip-card-back textarea {
  width: 80%;
  margin-bottom: 10px;
}

.flip-card-back button {
  padding: 10px;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

#noteContainer {
  background-color: #fff;
  color: #333;
  width: 80%;
  padding: 10px;
  word-wrap: break-word;
  text-align: left;
  margin-top: 10px;
}
