@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Основные стили для body */
body {
  background-color: purple; /* Белый фон */
  text-align: center; /* Выравнивание содержимого по центру */
  padding-top: 50px; /* Добавление пространства сверху */
  font-family: 'Poppins', sans-serif; /* Шрифт Poppins из Google Fonts */
}

/* Стили для изображения */
img.center-image {
  max-width: 10%; /* Максимальная ширина изображения */
  height: auto; /* Автоматическая высота для сохранения пропорций */
}

/* Основной контейнер */
.flip-card {
  perspective: 1000px;
}

/* Внутренний контейнер, который будет переворачиваться */
.flip-card-inner {
  position: relative;
  width: 300px; /* Установите желаемую ширину */
  height: 200px; /* Установите желаемую высоту */
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Стили для передней и задней сторон */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Стили для задней стороны */
.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

/* Стиль для активации переворота по клику */
.flip-card-inner.is-flipped {
  transform: rotateY(180deg);
}


