@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Основные стили для body */
body {
  background-color: purple; /* Белый фон */
  text-align: center; /* Выравнивание содержимого по центру */
  padding-top: 150px; /* Добавление пространства сверху */
  font-family: 'Poppins', sans-serif; /* Шрифт Poppins из Google Fonts */
}
.flip-card {
  perspective: 1000px;
  width: 200px; /* Ширина, которая соответствует вашему изображению */
  height: 300px; /* Высота, которая соответствует вашему изображению */
  margin: auto; /* Центрирование блока */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front img {
  width: 100%; /* Изображение заполняет весь контейнер */
  height: 100%;
  object-fit: cover; /* Обеспечивает сохранение пропорций изображения */
}

.flip-card-back {
  background-color: #2980b9; /* Фоновый цвет */
  color: white;
  transform: rotateY(180deg);
  opacity: 0.5; /* Делает фон полупрозрачным */
}

.flip-card-inner.is-flipped {
  transform: rotateY(180deg);
}
