body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  font-family: 'Bowlby One', sans-serif;
}

.showcase {
  position: relative;
  height: 100vh;
  text-align: center;
}

.logo {
  position: absolute;
  top: 20px; /* Немного отступ от верха */
  left: 50%;
  transform: translateX(-50%);
  font-size: 6rem; /* Значительно увеличенный размер */
  font-family: 'Bowlby One', sans-serif;
  color: black;
  background: linear-gradient(90deg, #8360c3, #2ebf91);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: moveGradient 5s infinite linear;
  background-size: 200% 200%;
}

/* Остальные стили остаются прежними */


@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.text p {
  font-size: 1.5rem;
  opacity: 0;
  animation: fadeIn 5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.social {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  margin-right: 10px;
}
